table {
	width: 1000px;
	margin: auto;
}
table tr h3, table tr input, table tr p {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

table tr input {
	float: right;
}
tr {
	border: 2px dotted black;
	height: 40px;
}

#submit {
	border: none;
	border-radius: 5px;
	background-color: orange;
	color: white;
}

#mark {
	width: 50px;
	text-align: center;
}

#errors {
	text-align: center;
}

#sort-buttons {
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
}

#sort-buttons button {
	border: none;
	border-radius: 5px;
	background-color: orange;
	color: white;
	margin-right: 30px;
	margin-left: 30px;
	width: 100px;
	height: 30px;
	width: 42%;
}